@import "../../config/colors";

.profile-container {
  .ui {
    &.grid {
      margin-top: 0;
      margin-bottom: 0;
    }
    .button {
      position: relative;
      text-transform: uppercase;
    }
  }
  .profile-user-photo-wrap {
    .user-photo {
      border-radius: 50%;
      border: 5px solid #DDD;
      margin-bottom: 1em;
    }

    .rating {
      .icon {
        outline: none;
      }
      .active {
        color: $coral !important;
      }
    }
    .meta {
      color: $warm-grey;
      text-transform: uppercase;
    }
  }

  .summary-column {
    padding: 1rem 4rem !important;
    .buttons-wrap {
      display: flex;
      flex-direction: column;
      .button {
        margin-bottom: 1.5rem;
        font-size: 150%;
      }
    }
  }

  .profile-user-meta-wrap {
    text-align: left;
    & > .header {
      font-size: 160%;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      .header {
        text-transform: uppercase;
        font-size: 130%;
        margin-bottom: .5rem;
        font-weight: 600;
      }
      .description {
        font-size: 120%;
      }
    }
  }

  .about-column {
    .header {
      text-transform: uppercase;
    }

    .button {
      font-size: 110%;
      min-width: 150px;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    .about-text-wrap {
      font-size: 120%;
      line-height: 1.5;

    }
    .adverts-wrap {
      .button {
        width: 30%;
        font-weight: 400;
      }
    }
  }

}
