/* global classes */
.main-wrapper-padding {
  padding-left: 15vw;
  padding-right: 15vw;

  @media screen and (max-width: 1024px) {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.header-compensator {
  padding-top: 120px;
}

.viewport {
  width: 100%;
  height: 100vh;
}

.min-height-viewport {
  min-height: calc(100vh - 160px); // 160px is Footer height
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-1 {
  margin: 1em !important;
}

.margin-2 {
  margin: 2em !important;
}

.margin-3 {
  margin: 3em !important;
}
