/* global classes */
body {
  background-color: #fcfcff!important;
}

.main-wrapper-padding {
  padding-left: 15vw;
  padding-right: 15vw;

  @media screen and (max-width: 1024px) {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

.header-compensator {
  padding-top: 120px;
  @media screen and (max-width: 1024px) {
    padding-top: 90px!important; // overriding semantic-ui
  }
}

.ui.container.no-margin-mobile {
  @media screen and (max-width: 1024px) {
    margin-left: 0!important; // overriding semantic-ui
    margin-right: 0!important; // overriding semantic-ui
  }
}

.half-viewport {
  width: 100%;
  min-height: 50vh;
}

.viewport {
  width: 100%;
  min-height: 100vh;
}

.min-height-viewport {
  min-height: calc(100vh - 160px); // 160px is Footer height
}

.min-width-1 {
  min-width: 10em;
}

.min-width-2 {
  min-width: 20em;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.margin-1 {
  margin: 1em !important;
}

.margin-2 {
  margin: 2em !important;
}

.margin-3 {
  margin: 3em !important;
}

.margin-v-1 {
  margin-top: 1em!important;
  margin-bottom: 1em !important;
}

.margin-v-2 {
  margin-top: 2em!important;
  margin-bottom: 2em !important;
}

.margin-v-3 {
  margin-top: 3em!important;
  margin-bottom: 3em !important;
}

.margin-h-1 {
  margin-right: 1em !important;
  margin-left: 1em !important;
}

.margin-h-2 {
  margin-right: 2em !important;
  margin-left: 2em !important;
}

.margin-h-3 {
  margin-right: 3em !important;
  margin-left: 3em !important;
}
